{% extends 'home/index.html' %}

{% block contents %}

<form action="" method="POST">
    {% csrf_token %}

    {% for form in forms %}
    <div>
        <label for = "{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endfor %}

    {% if error %}
    {{error}}
    {% endif %}
    <div class='button'><input type="submit" id="signupb" value="제출"></div>
    <!-- <button type="submit" name="register-submit" value="register">제출</button> -->
</form>
{% endblock contents %}